

<ion-content>
  <ion-item color="dark">
    <ion-input required type="text" placeholder="Numero de contacto" [(ngModel)]="tool.task"></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-input required type="text" placeholder="Nombre" [(ngModel)]="tool.priority"></ion-input>
  </ion-item>
  


  <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button color="medium" (click)= "presentActionSheet()">
            <ion-icon name="menu"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
          </ion-fab-list>
  </ion-fab>

</ion-content>
