
<ion-content padding>
    <ion-title color="dark">¿En que te podemos ayudar? </ion-title>
    <ion-item color="dark">
      <ion-input required type="text" placeholder="Herramienta" [(ngModel)]="tool.task"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input required type="text" placeholder="Dirección" [(ngModel)]="tool.priority"></ion-input>
    </ion-item>
  
  
  <ion-button  color="medium" expand="full" (click)="savetool()">Enviar</ion-button>

  <ion-fab vertical="bottom " horizontal="end">
    <ion-fab-button color="medium"(click)= "presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
    </ion-fab-list>
  </ion-fab>
  
</ion-content>



