
<!-- <ion-content>
    <ion-title color="dark">¿En que te podemos ayudar? </ion-title>
    <ion-button expand="block"shape="round"color="dark"><ion-input></ion-input></ion-button>
    


  
    <ion-fab vertical="bottom " horizontal="end">
        <ion-fab-button color="medium"(click)= "presentActionSheet()">
          <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
        </ion-fab-list>
      </ion-fab>
  

</ion-content> -->
<ion-content padding>

    <ion-item color="dark">
      <ion-input required type="text" placeholder="Herramienta" [(ngModel)]="tool.task"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input required type="text" placeholder="Dirección" [(ngModel)]="tool.priority"></ion-input>
    </ion-item>
  
  <ion-button expand="full" (click)="savetool()">Enviar</ion-button>

  <ion-fab vertical="bottom " horizontal="end">
    <ion-fab-button color="medium"(click)= "presentActionSheet()">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
    </ion-fab-list>
  </ion-fab>
  
</ion-content>



