ion-content{
   --background:url(../../assets/imagenes/logo-tools_2.jpg) 0 0/100% 100% no-repeat; 
   --padding-top: 80%;
       }
       ion-content ion-title{
          --color:black;
        
       }