 
<ion-content padding>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
 
    <ion-item color="light">
      <ion-label  position="floating" color="danger">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }} 
        </div>
      </ng-container>
    </div>
 
    <ion-item color="light">
      <ion-label  position="floating" color="danger">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" placeholder=""></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
 
    <ion-button colo="dark" class="submit-btn" type="submit"  [disabled]="!validations_form.valid"> Iniciar sesión</ion-button>
 
    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">
    ¿No tienes cuenta aún? <a (click)="goToRegisterPage()">Crea una cuenta.</a>
  </p>
</ion-content>
